body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.centered-text {
    text-align: center;
    max-width: 80%;
    /* Adjusts the max width of the text container */
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .centered-text {
        max-width: 95%;
    }
}