/* Overall Body and Layout */
body {
    background-color: #2C3E50; /* Dark background */
    color: #ECF0F1; /* Light text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Trivia Container */
#trivia {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #34495E; /* Slightly lighter dark shade for the container */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Typography */
#trivia h1 {
    color: #ECF0F1;
    text-align: center;
    margin-bottom: 24px;
}

#trivia p {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

/* Forms and Buttons */
select, button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #16A085;
    color: #ECF0F1;
    cursor: pointer;
    font-size: 16px;
}

button {
    background-color: #E74C3C;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #C0392B;
}

/* Answer Buttons */
.answer-button {
    background-color: #3498DB;
    margin: 5px 0; /* Space between buttons */
    transition: background-color 0.3s;
}

.answer-button:hover {
    background-color: #2980B9;
}

/* Labels */
label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Adjusting Select Boxes */
select {
    background-color: #2980B9;
    color: white;
}

/* Handling responsiveness */
@media (max-width: 768px) {
    #trivia {
        width: 95%;
        padding: 10px;
    }

    select, button {
        font-size: 14px;
    }
}
