body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: black;
}

.rc-region {
    text-align: center;
    color: white;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-top:10px;
    height: 152px;
}

.rc-container {
    width: fit-content;
    margin: 0 auto;
}

.rc-tank-button,
.rc-dps-button,
.rc-support-button,
.rc-full-team-button {
    margin: 3px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.rc-tank-button {
    background-color: #3588e0;
}

.rc-dps-button {
    background-color: #dd2b2b;
}

.rc-support-button {
    background-color: #5ebd3e;
}

.rc-full-team-button {
    background-color: #9457ab;
}

button:hover {
    margin:0px;
    border: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}

#result {
    margin: 5px;
    padding: 10px 20px;
    font-size: fit-content;
    text-shadow: antiquewhite 1px 0 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.tcc-region {
    text-align: center;
    height: 500px;
    width: 100%;
    justify-content: center;
    color: white;
    width: 100%;
    padding-top: 10px;
    height: 100px;
}

.enemy-team-select-container {
    height: 30px;
    justify-content: center;
    text-align: center;
}

select {
    text-align: center;
    background-color: black;
    border-radius: 15px;
    font-weight: bold;
    color:white;
    justify-content: center;
}

option {
    font-weight: bold;
}

.enemy-tank-select {
    background-color: #3588e0;
}

.enemy-dps-select {
    background-color: #dd2b2b;
}

.enemy-support-select {
    background-color: #5ebd3e;
}


.friendly-team-comp-container {
    display: flex;
    /* Added this to display children in a row */
    /* Optionally add space between children */
    height: 250px;
    justify-content: center;
}

.friendly-char-field-tank,
.friendly-char-field-dps-1,
.friendly-char-field-dps-2,
.friendly-char-field-support-1,
.friendly-char-field-support-2 {
    text-align: center;
    color: white;
    height: 150px;
    width: 100px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display:flex;
}

.friendly-char-field-tank,
.friendly-char-field-dps-1,
.friendly-char-field-dps-2,
.friendly-char-field-support-1,
.friendly-char-field-support-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

.friendly-char-tank-name,
.friendly-char-dps1-name,
.friendly-char-dps2-name,
.friendly-char-support1-name,
.friendly-char-support2-name {
    margin-top: auto;
}

.friendly-char-img-holder {
    margin-top: auto;
}

.friendly-char-img-holder img {
    background-color: cyan;
    width: 100%;
    height: 100px;
}

.tcc-region p {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-size:medium;
    font-weight:lighter;
}